.container{
  height: 100vh;
  max-width: 100vw;
  margin: auto;
  padding: 2rem
}
.loginContainer {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.error {
  color: red;
  margin-bottom: 1rem;
}